# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# One-off scripts that shouldn't be deployed
app/api/exchange-rates/import-historical/
scripts/import-historical-rates.ts

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Large files (videos, etc.)
/public/videos/*.mp4
/public/videos/*.webm
/public/videos/*.mov

# IDE
.vscode
.idea

# OS
Thumbs.db
